@import './variables.scss';
@import './btn_model.scss';
@import './modal_window_model.scss';

.modal--gdpr {
    @include modal_model;
}

.modal_backdrop--gdpr {
    @include modal_bkdr_model;
}

.modal_body--gdpr {
    @include modal_body_model;
    overflow: scroll;
    height: 90vh;
    width: 80vw;
    font-size: .675rem;
}

.modal_btn--gdpr {
    @include btn;
}