@import './variables.scss';
@import './btn_model.scss';
@import './modal_window_model.scss';

.modal--gdpr {
	@include modal_model;
}

.modal_backdrop--gdpr {
	@include modal_bkdr_model;
}

.modal_body--gdpr {
	@include modal_body_model;
	height: 90vh;
	width: 80vw;
}

.modal_btn--gdpr {
	@include btn;
	margin-top: 1em;
	background-color: $primary-bkg-color;
	color: $main-font-color;
	border-color: $main-font-color;
	&:hover {
		background-color: $secondary-bkg-color;
		color: $minor-font-color;
		border-color: $minor-font-color;
	}
}
.content-container {
	font-size: .675rem;
	padding: 2em 3em;
	overflow-y: scroll;
}
