@import './variables.scss';

.scroll_btn {
    position: fixed;
    display: none;
    background-color: $primary-bkg-color;
    box-shadow: 0.07em .07em .1em $secondary-bkg-color;
    border: none;
    border-radius: 2em;
    width: 3em;
    height: 3em;
    bottom: 2em;
    right: 3em;
    &::after {
        content: '';
        border: 1em solid;
        border-color: transparent transparent $secondary-bkg-color;
        position: absolute;
        bottom: 1.1em;
        left: .6em;
    }
}
.scroll_btn--active {
    display: inline-block;
}

@media (min-width: 67.5em) {
    .scroll_btn {
        display: none;
    }
}