@import './variables.scss';
@import './btn_model.scss';

.side_bar_gdpr {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: .8em 1.2em;
    left: -80vw;
    top: 50%;
    width: auto;
    background-color: $secondary-bkg-color;
    color: $white-font;
    box-shadow: .06em .04em .07em $tertiary-bkg-color;
    transform: translateY(-50%);
    transition: left 3s ease-in-out;
    z-index: $z-index-modal;
    & > p {
        margin:  .5em .5em;
    } * + * {
        margin: 0em 0em 1em;
    }
}
.side_bar_gdpr--active {
    left: 3em;
}
.button_gdpr {
    @include btn;
    background-color: $primary-bkg-color;
    color: $main-font-color;
    font-size: .675rem;
    padding: .3em .6em;
    &:hover {
        background-color: $secondary-bkg-color;
        transition: .2s ease-in;
    }
    button {
        appearance: none;
    }
}