//create variables for main colors, fonts and other attributes often used in stylesheet:
@import "./fontawesome-free-5.13.0-web/scss/fontawesome.scss";
@import "./fontawesome-free-5.13.0-web/scss/solid.scss";


$primary-bkg-color: hsl(0, 0, 100);
$secondary-bkg-color: hsl(200, 10, 50);
$main-font-color: hsl(240, 0, 15);
$minor-font-color: hsl(220, 0, 15);
$white-font: hsl(0, 0, 100);
$z-index-navigation: 100;
$z-index-burgerbutton: 200;
$z-index-footer: -100;
$fa-font-path: '../../dist/webfonts';