//import style library to normalize all diffirences may show up in diffirent browsers:
@import '../../node_modules/normalize-scss/sass/_normalize.scss';
//import burger-button stylesheet:
@import './modules/burger_button.scss';
@import './modules/scroll_top_button.scss';
@import './modules/variables.scss';
@import './modules/footer.scss';
@import './modules/navbar.scss';
@import './modules/main.scss';
@import './modules/top-image.scss';
@import './modules/contact_form.scss';
@import './modules/modal_window.scss';
@import './modules/switch_lang.scss';

//root style block has box-sizing set to border-box to avoid unexpected behaviour for box elements:
:root{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
//calc() method in font size assures that the font size will be respond on each window size change
    font-size: calc(.6em + 1vw);
    line-height: 1.4;
}
html{
    position:relative;
    min-height: 100%;
  }
body{
    background-color: $primary-bkg-color;
//removes from body initial margin and padding
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
header {
    user-select: none;
}
a:link,
a:visited,
a:hover,
a:checked {
    color: $main-font-color;
}