@mixin btn {
    cursor: pointer;
    display: inline-block;
    margin-top: 2em;
    padding: .6em 1.2em;
    align-self: center;
    letter-spacing: .12rem;
    font-size: inherit;
    text-transform: uppercase;
    border: none;
    height: auto;
    background-color: $secondary-bkg-color;
    &:hover {
        background-color: $tertiary-bkg-color;
        transition: .2s ease-in;
    }
}