@import './variables.scss';
@import './btn_model.scss';

.modal {
    display: none;
    position: relative;
}

.modal_backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(200, 50, 10, 0.5);
}

.modal_body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: auto;
    display: flex;
    text-align: center;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 1em 1em;
    background-color: $primary-bkg-color;
    overflow: auto;
}
@media (min-width: 43.75em) {
    .modal_body {
        padding: 2em 3em;
    }
}

.modal_btn {
    @include btn;
}