//create variables for main colors, fonts and other attributes often used in stylesheet:

$primary-bkg-color: hsl(0, 0, 100);
$secondary-bkg-color: hsl(200, 10, 50);
$tertiary-bkg-color: hsl(200, 10, 25);
$main-font-color: hsl(240, 0, 15);
$minor-font-color: hsl(220, 0, 15);
$white-font: hsl(0, 0, 100);
$alert-bkg-color: hsl(0, 100, 85);
$alert-font-color: hsl(0, 100, 50);
$z-index-navigation: 100;
$z-index-burgerbutton: 200;
$z-index-footer: -100;
$z-index-alert: 50;
$z-index-switch-lang: 75;
$z-index-modal: 400;
